<h1><%= @user.username %></h1>
<%= render partial: "secrets/new" %>
<ul>
  <% @user.received_secrets.each do |secret| %>
    <% tags = secret.tags.map { |t| t.name }.join(", ").insert(0, " Tags: ") %>
    <li><%= secret.title %><%= tags if tags.length > 7 %></li>

  <% end %>
</ul>