<h1>New Secret</h1>

<%= form_for @secret, url: user_secrets_url(@user) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Submit" %>
<% end %>

<script>
$("#new_secret").find("input[type='submit']").on('click', function(event) {

  event.preventDefault();

  var formData = $(this.form).serialize();

  $.ajax({
    url: $("#new_secret").attr('action'),
    type: "POST",
    data: formData,
    success: function(secret) {
      $("ul").append("<li>" + secret.title + "</li>");
    }
  })
})

</script>